In [1]:
import pandas as pd

In [2]:
df=pd.read_excel(r"C:\Users\apltk\OneDrive\Рабочий стол\pandas\Customer Call List.xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [5]:
df=df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [24]:
df=df.drop(columns='Not_Useful_Column')
df

KeyError: "['Not_Useful_Column'] not found in axis"

In [22]:
df['Last_Name']=df['Last_Name'].str.strip('/._')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123---5-4-5-,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123--/6-4-3/,93 West Main Street,No,Yes
2,1003,Walter,White,nan----,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123---5-4-3-,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876--|6-7-8|,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304---7-6-2-,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,nan----,1209 South Street,No,No
7,1008,Sherlock,Holmes,876--|6-7-8|,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a----,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123---5-4-5-,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,nan----,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,nan----,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123---5-4-3-,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876--|6-7-8|,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304---7-6-2-,214 HR Avenue,N,No
15,1016,Ron,Weasley,123---5-4-5-,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123--/6-4-3/,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,nan----,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a----,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876--|6-7-8|,"910 Tatooine Road, Tatooine",Yes,N

In [23]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123---5-4-5-,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123--/6-4-3/,93 West Main Street,No,Yes
2,1003,Walter,White,nan----,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123---5-4-3-,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876--|6-7-8|,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304---7-6-2-,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,nan----,1209 South Street,No,No
7,1008,Sherlock,Holmes,876--|6-7-8|,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a----,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123---5-4-5-,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,nan----,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,nan----,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123---5-4-3-,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876--|6-7-8|,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304---7-6-2-,214 HR Avenue,N,No
15,1016,Ron,Weasley,123---5-4-5-,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123--/6-4-3/,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,nan----,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a----,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876--|6-7-8|,"910 Tatooine Road, Tatooine",Yes,N